


//--------------------------------    SECTIONS	-----------------------------\\



		//  NAVBAR  \\


.back {
	background-color: $black
}

.navbar, .main-nav {
	display: flex;
	list-style: none;
	margin: 0;
	padding: 0;
}

.logo {
	height: 80px;
	width: 80px;
}

.main-nav a {
	height: 100px;
	padding: 0 8px;
	text-align: center;
	text-decoration: none;
	display: block;
	color: $white;
	font-size: $paragraph-font-size;
	font-family: $font-mont;
	font-weight: $button-font-weight;
	line-height: 100px;
	&:hover {
	border-bottom: 5px solid $button-color;
	}
}

		//  HERO  \\

.hero {
	display: flex;
	//justify-content: center;
	
}

.hero-bkg {
	width: 100%;
	margin-top: 20%;
	//min-height: 750px;
	//align-items: center;
	text-align: center;
	h1, h2 {
		font-size: 50px;
		font-weight: $title-font-weight;
		color: $white;
		line-height: 20px;
	}
	h2 {
		color: $button-color;
	}
	h4 {
		color: $white;
		font-size: 20px;
		font-weight: $title-font-weight;
		margin: 20px;
	}
}

.btn-hero {
	margin: 20px;
}


//  ABOUT US  \\


.video {
	height: 275px;
	background-image: cover;
	background-position: center center;
	max-width: 445px;
	box-shadow: -10px 11px 52px -2px rgba(0,0,0,0.49);
	margin-bottom: 90px;
}

.text p {
	font-size: $description-font-size;
	margin: 0;
	line-height: 28px;
}

.about {
	margin: 40px 0;
}