@import 'variables';
@import 'normalize';
@import 'components';
@import 'sections';
@import 'layout';




/*
=============================== MEDIA =========================================
*/




@media(max-width: 1100px) {
	.navbar {
		justify-content: center;
		padding: 0 5%;
	}
	.logo {
		margin: 0;
		transition: 1s;
	}

// Premium \\

.premium-wrapper {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	p {
		width: 100%;
	}
}
.premium-left-column {
	width: 100%;
	margin: 0 auto;
}
.premium-right-column {
	width: 50%;
	margin-bottom: 30px;
}
.premium {
	margin: 0 auto;
}


}



@media (min-width: 1100px) {

	.navbar {
		justify-content: center;
	}

}



@media (max-width: 996px) {

  // Navbar \\

  .navbar, .main-nav, .logo {
  	flex-direction: column;
  	align-items: center;
  }
  li:last-of-type{
  	margin-bottom: 20%;
  }
  .main-nav a {
  	height: 30px;
  	line-height: 30px;
  }

// Services \\

.modern {
	border-right: 1px solid $paragraph-grey;
}

// Gallery \\

.gallery {
	padding: 0 20%;
}

}





@media (max-width: 786px) {

  // Hero \\

  .hero-bkg h1 {
  	line-height: 45px;
  }

  // About Us \\

  .text {
  	text-align: center;
  }
  .video {
  	margin: 0 auto;
  }

	// Services \\

	.quality, .regular {
		border-right: 1px solid $paragraph-grey;
	}

// Button Bar \\

.button-bar {
	background-color: $white;
	display: block;
}
.btn-bar {
	width: 250px;
	margin: 10px auto;
	border-bottom-left-radius: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	border-top-right-radius: 25px;
	text-align: center;
	padding: 0;
	&:hover a{
		color: $button-color;
	}
	&:hover .in{
		opacity: 0;
		background-color: $button-color;
	}
}
.top-line {
	display: none;
}
.bottom-line {
	display: none;
}

// Gallery \\

.gallery {
	padding: 0 5%;
}
.gallery-image {
	margin: 15px auto;
}

// Premium \\

.premium-right-column {
	width: 100%;
	p {
		text-align: center;
		margin: 0 auto;
	}
}
.premium {
	width: 250px;
	height: 200px;
	transition: 1s;
}
.premium-tick {
	flex-direction: column;
	align-items: center;
}
.tick-img {
	margin: 0 auto;
}
}